# macOS
.DS_Store
**/.DS_Store

# build directories
build/
*/build/

# CMake files
CMakeCache.txt
CMakeFiles/

# compiled binaries
*.o
*.out
*.exe

# VSCode
.vscode/


# Python
*.pyc
__pycache__/

# C / CPP
*.o
*.a

# VSCode
.vscode/

# Replit
.ccls-cache/

# Planning output.
*.planner
